@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container.ql-snow {
  height: auto !important;
}

[class^="ql-align-"] img {
  display: inline-block;
}

.ql-toolbar.ql-snow {
  display: flex;
  flex-wrap: wrap;
}

.leader-line {
  z-index: 9999;
}

.z-99999 {
  z-index: 99999;
}